<div class="container-fluid p-5">
    <h2>{{city}}
        <span class="flag-icon" [class]="icons"></span>
    </h2>
    <div class="mb-3 py-4 w-50">
        <label for="exampleInputEmail1" class="form-label">Search fo specific Date</label>
        <input #date type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <button class="btn btn-primary" (click)="getPastWeather(date.value)" data-bs-toggle="modal" data-bs-target="#exampleModal">Search</button>

    <div class="row py-5">
        <!-- Table -->

        <app-table [check]="false" [allResponseData]="allResponseData"></app-table>

<!-- Graphes -->

        <div class="d-flex-custom py-5">
            <h2 class="">Absolute Max Temprature</h2>
            <figure id="bar" class="text-center"></figure>
            <h2 class="">Absolute Min Temprature</h2>
            <figure class="text-center" id="bar1"></figure>
        </div>


    </div>
</div>
<!-- modal nshow past data weather -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-table *ngIf="allResponseHistoryData" [allResponseHistoryData]="allResponseHistoryData"
                    [pastDate]="pastDate" [check]="true"></app-table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>